body {
    /* Se modifica el color blanco por uno que lastime menos la vista */
    background-color: #f8f8f8;
}

nav {
    font-family: "Kumbh Sans", sans-serif;
    border-bottom: 2px solid #E4E9F2;
}

.navbar-nav {
    gap: 20px;
}

.navbar-brand img {
    height: 40px;
}

.profile-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}